@font-face {
    font-family: myFirstFont;
    src: url(./../theme/04B_30__.TTF);
}
@font-face {
    font-family: mySecondFont;
    src: url(./../theme/Falcon\ Patrol.ttf);
}
@font-face {
    font-family: myThirdFont;
    src: url(./../theme/Fipps-Regular.otf);
}

/*
    background-banner: #272264;
    background-font:  #F16146;
    background-font-border:  #B7452D;
    banner-border:  #F8F282;
    body-background: #343432;
    black'background: #141124;
*/

body {
    /* font-family: myFirstFont; */
    background-color: #141124 !important;
}

.background-color {
    background-color: #272264;
    border-bottom: 5px solid  #F8F282;
    border-top: 5px solid  #F8F282;
    padding: 10px 0 10px 0;
}

.machine {
    background-color: orange;
    width: 300px;
    height: 110px;
    border: 7px solid orangered;
    font-family: mySecondFont;
    /* color: white; */
}

.marginless {
    margin: 0 !important;
}

.pong-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.escape {
    font-family: mySecondFont;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px !important;
}

.arcade-title {
    font-size: 30px;
    margin-bottom: 1px;
    margin-top: 7px;
}

.pong {
    font-size: 20px;
}

.menu {
    font-family: mySecondFont;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}

.menu a {
    margin-top: 15px;
}

.menu h1 {
    color: orange;
    margin: 15px;
}
.history {
    font-family: mySecondFont;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}

.history h1 {
    color: orange;
    margin: 15px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.container-author{
    color: #FF4500;
    color: orange;
    margin: 10px;
    cursor: pointer;
}

.container-history {
    width: 100%;
    display: flex;}

#pong {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#history-text {
    width: 70%;
    color: #FFA500;
    padding: 20px;
    margin-bottom: 20px;
}